---
name: test
on:
  pull_request:

jobs:
  test01:
    name: test
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create artifact
        id: file
        shell: bash
        run: |
          PRE_RAND="$( ${RAND} | md5sum | head -c 20;  )"
          PRE_DATE="$( date '+%s' )"
          NAME="${PRE_RAND}-${PRE_DATE}.txt"
          echo "somedata" > "${NAME}"
          echo "::set-output name=path::${NAME}"

      - name: upload artifact
        uses: ./
        with:
          name: ${{ steps.file.outputs.path }}
          path: ${{ steps.file.outputs.path }}

      - name: download  artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ steps.file.outputs.path }}


  test02:
    name: test
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create artifact
        id: file
        shell: bash
        run: |
          PRE_RAND="$( ${RAND} | md5sum | head -c 20;  )"
          PRE_DATE="$( date '+%s' )"
          NAME="${PRE_RAND}-${PRE_DATE}.txt"
          echo "somedata" > "${NAME}"
          echo "::set-output name=path::${NAME}"

      - name: "[Artifact Save] Upload base"
        uses: Wandalen/wretry.action@v1.0.11
        with:
          action: ./
          with: |
            name: ${{ steps.file.outputs.path }}
            path: ${{ steps.file.outputs.path }}
          attempt_limit: 20
          attempt_delay: 10000

      - name: download  artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ steps.file.outputs.path }}
